<link rel="stylesheet" href="/stylesheets/home.css">

<header class="main-header">
    <div class="container">
        <div class="main-headline-container"><span class="main-headline">King of Steps</span></div>
        <ul class="main-menue">
            <li><a href="/" class="current-site">./Home</a></li>
            <li><a href="/About">./About</a></li>
            <li><a href="/Impressum">./Impressum</a></li>
            <li><a href="/Login">./Login</a></li>
        </ul>
    </div>
</header>

<footer class="main-footer">
    <span>©2021 - Sebastian Glaß</span>
</footer>