@import 'shared/fonts.css';

/*-------------------------------------------------*/

:root {
    font-family: Antic;
    font-size: 20px;
    box-sizing: border-box;
    color: #777;
    overflow-wrap: break-word;
}

html body{
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------*/

header{
    background-color: rgb(0, 0, 0, .6);
    background-image: url("/img/background.png");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 30px;
}
.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar li{
    display: inline;
}
.navbar a{
    display: inline-block;
    padding: .5em;
    color: #fff;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(255, 255, 255, .3);
}

.main-nav{
    text-align: right;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgb(255, 255, 255, .3);
}
.main-nav li{
    padding: 0 .5%;
}

.headline{
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: Cinzel;
    font-weight: normal;
    color: #fff;
}
.headline-large{
    font-size: 6em;
}

/*-------------------------------------------------*/

.content-section{
    margin: 1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-headline{
    font-family: Cinzel;
    font-weight: normal;
    color: #333;
}

/*-------------------------------------------------*/