@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'UbuntuMono';
    src: url('/fonts/UbuntuMono-Regular.woff2') format('woff2'),
        url('/fonts/UbuntuMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel-Regular.woff2') format('woff2'),
        url('/fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Antic';
    src: url('/fonts/Antic-Regular.woff2') format('woff2'),
        url('/fonts/Antic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


